.container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 1.6rem;
  border: 0.1rem solid var(--border);
  border-radius: 1rem;
  background: transparent;
  transition: all 0.3s ease;
}
.container:hover {
  background: var(--secondary);
}
.btns {
  display: flex;
  gap: 1rem;
}
.trash {
  border-radius: 100%;
  border: 0.1rem solid var(--border);
  color: var(--destructive);
  padding: 0.5rem;
  background: transparent;
  transition: all 0.3s ease;
}

.trash:hover {
  background: var(--accent);
  color: white;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}
.content h2 {
  font-size: 1.8rem;
  font-weight: 400;
  color: var(--foreground);
}
