.heroContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50rem;
  overflow: hidden;
  border-radius: 1.6rem;
  margin-bottom: 6.4rem;
  /* margin: 3rem 12rem; */
  position: relative;
}
@media (max-width: 850px) {
  .heroContainer {
    margin: 1rem;
  }
}
.heroImage {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.6);
}
.heroText {
  position: relative;
  color: white;
  text-align: center;
  padding: 1.6rem;
  z-index: 10;
}
.heroText h1 {
  font-size: 2.2rem;
  color: white;
  margin-bottom: 1.6rem;
}
.heroText p {
  color: rgba(255, 255, 255, 0.9) e;
  font-size: 2rem;
  margin: 0 auto;
  max-width: 67.2rem;
}
.badge {
  display: inline-block;
  padding: 0.8rem 2.8rem;
  font-size: 1.6rem;
  border-radius: 9999px;
  color: white;
  background: var(--accent);
  margin: 2rem 0 0 0;
}
