.tabs_container {
  display: flex;
  justify-content: space-between;
  background-color: var(--secondary);
  padding: 0.5rem;
  border-radius: 2rem;
  box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.05);
}

.tab_button {
  border: none;
  background-color: transparent;
  padding: 0.5rem 6rem;
  border-radius: 1.5rem;
  cursor: pointer;
  color: var(--foreground);
  font-size: 1.5rem;
  font-weight: 500;
  transition: all 0.3s ease;
  width: 20%;
}

@media (min-width: 576px) and (max-width: 992px) {
  .tab_button {
    padding: 0.5rem 2rem;
  }
}

@media (max-width: 575px) {
  .tab_button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
  }
}

.tab_button.active {
  background-color: #ffffff;
  box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.1);
}
