.container {
  background: white;
  border-radius: 1.6rem;
  padding: 2.4rem;
  border: 0.1rem solid var(--border);
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 749px) {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }
  .add {
    align-self: flex-start;
  }
  .content {
    align-self: flex-end;
  }
}
.add {
  background: var(--primary);
  color: white;
  gap: 0.8rem;
  display: flex;
  border-radius: 99999rem;
  padding: 0.5rem 2rem;
  font-size: 1.8rem;
  font-weight: 500;
  transition: all 0.3s ease;
}
.add:hover {
  opacity: 0.9;
}
.content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-end;
}
.content h3 {
  font-size: 1.6rem;
  color: var(--foreground);
}
.content p {
  font-size: 1.4rem;
}
.cards {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
