.link {
  font-size: 1.4rem;
  font-weight: 500;
  padding: 0.8rem 1.6rem;
  text-decoration: none;
  color: inherit;
  transition: all 0.3s ease;
  background: transparent;
  border-radius: 0.8rem;
}
.link:hover {
  background: var(--secondary);
  cursor: pointer;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}
.active {
  background: var(--primary);
  color: var(--primary-foreground);
  box-shadow:
    0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -2px rgba(0, 0, 0, 0.1);
}
.active:hover {
  background: var(--primary);
  transform: none;
}
