.imgCon {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  border-radius: 1.6rem;
  height: 30rem;
}
.Image {
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.8);
}
.textcontainer {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.textcontainer h3 {
  font-size: 1.8rem;
  color: var(--foreground);
}
.textcontainer p {
  font-size: 1.4rem;
}
