.overlayContaier {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.modal {
  padding: 2.4rem;
  max-width: 44.8rem;
  border-radius: 1.6rem;
  background-color: white;
  width: 100%;
  height: 50%;
}
@media (max-width: 768px) {
  .modal {
    height: 45%;
    padding: 1.6rem;
    width: 85%;
  }
}
.logoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  background: var(--primary);
  border: none;
  border-radius: 50%;
  height: 6.4rem;
  width: 6.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modalContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.modalTitle {
  font-size: 2.4rem;
  font-weight: 600;
  color: var(--foreground);
  margin-top: 1.6rem;
}
.modalText {
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--muted-foreground);
  text-align: center;
  margin-top: 0.8rem;
}
.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2.4rem;
  justify-content: center;
}
.login label {
  font-size: 1.4rem;
  font-weight: 500;
  color: var(--foreground);
  margin-bottom: 0.8rem;
  align-self: flex-end;
}
.login input {
  width: 100%;
  padding: 0.8rem;
  font-size: 1.4rem;
  border: 0.1rem olid var(--border);
  border-radius: 1.2rem;
  margin-bottom: 1.6rem;
  background: #f5f1e8;
  text-align: center;
}
.login input:focus {
  outline: none;
  border: 0.2rem solid var(--accent);
}
.buttonContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 1rem;
}
.btnLogin {
  background-color: var(--primary);
  color: var(--primary-foreground);
  border: none;
  border-radius: 1.2rem;
  padding: 0.5rem 1rem;
  font-size: 1.8rem;
  cursor: pointer;
  margin-right: 1.6rem;
  width: 60%;
  transition: all 0.3s ease;
}
.btnClose {
  background-color: transparent;
  color: var(--foreground);
  border: 0.1rem solid var(--border);
  border-radius: 1.2rem;
  padding: 0.5rem 1rem;
  font-size: 1.8rem;
  cursor: pointer;
  width: 60%;
  transition: all 0.3s ease;
}
.btnClose:hover {
  background-color: var(--accent);
}
.btnLogin:hover {
  opacity: 0.9;
}
.error {
  color: #ef4444;
  font-size: 1.4rem;
  margin-top: 0.5rem;
  text-align: center;
}

@media (max-width: 768px) {
  .error {
    font-size: 1rem;
  }
  .btnLogin {
    padding: 0.3rem 1rem;
    font-size: 1.5rem;
  }
  .btnClose {
    padding: 0.3rem 1rem;
    font-size: 1.5rem;
  }
  .buttonContainer {
    margin-top: 1.5rem;
  }
}
